<div id="home">
    <div id="homepage_bot">
        <iframe id="botkit_client" src="/chat.html"></iframe>
    </div>

    <div id="welcome">
        <h1>herAkles AG</h1>
        <p><strong>Active User:</strong> Peter</p>
        <p><strong>Job Title:</strong> Project manager</p>
    </div>
</div>
<script src="/embed.js"></script>
<script>
  Botkit.boot({});
</script>
